.body
{
	margin: 0;
	padding: 0;
	
}

/* Start header section */

#header{
	height: 100vh;
	padding-bottom: 150px;
	background: linear-gradient(rgba(0, 0, 1, 0.5),rgba(0, 0, 0, 0.103)),url(images/background3.jpg);
    background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.user-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.user-box h1
{
	font-family:'limelight', cursive;
  font-size: 62px;
  color:seashell;
}
.user-box h5
{
	font-family: 'OpenSansCondensed';
  color:seashell;
}

.icon-button
{
	bottom: 80px;
	position: absolute;
	left: 50%;
	
}
/* End Header  section */

/*Start about us section*/ 
.about 
{
	padding-top: 3%;
	padding-bottom: 70px;
}
.profile-img{
  
	height: 200px;
	width: 350px;
}
/*End about us section*/ 

/* Start Navigation-bar section */
.nav-bar
{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar
{
	background-color: #000;
}
.navbar-brand img
{
	height: 50px;
}
.nav-bar .fa-bars
{
	font-size: 35px;
	color: #fff;
}
.navbar-toggler
{
	outline: none !important;
}
.navbar-nav
{
	float: right;
	text-align:right;
}
.nav-link
{
	color: #fff !important;
	
}
/* End Navigation-bar  section */

/* START : Short-strip section */
.short-strip
{
  background-color: #000;
}
.short-strip h3
{
  color: #fff;
}
/* End short-strip  section */

.services 
{
	padding-top: 3%;
	padding-bottom: 90px;
}
.img-services
{
  width: 180px;;
}


/* START : Footer */
.full-footer{
  background-color: #000;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3{
  color: white;
}
.bottom-footer{
  background-color: #171a1d79;
}
.bottom-footer p{
  color: white;
}

  /* END : Footer */